<main>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="javascript:void(0);">Mercado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [class.active]="router.url == '/inicio'">
          <a class="nav-link" href="javascript:void(0);" [routerLink]="['/inicio']">
            Início <span *ngIf="router.url == '/inicio'" class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" [class.active]="router.url == '/consultar-produto'">
          <a class="nav-link" href="javascript:void(0);" [routerLink]="['/consultar-produto']">
            Produtos <span *ngIf="router.url == '/consultar-produto'" class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <span class="navbar-text">
      Entrar
    </span>
    </div>
  </nav>

  <div class="padding-top-5">
    <router-outlet></router-outlet>
  </div>

</main>
